
.cartoon__cards {
    display: flex;
    width: 100%;
    border: 2px solid gray;
   
    
}
.characteristics {
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 20px;
}
p {
    color: white;
}
span {
    color: white;
}
.badge {
    width: 25%;
}